#appBg{
    height: 420px;
    width: 360px;
    border: 1px solid black;
    border-radius: 5px;
}
#appBg form {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0) ;
}
#appBg input[type=textfleld]{
    width: 100%;
    height: 25;
    cursor: default;
    font-family: 'roboto', sans-serif;
    background-color: rgb(0, 0, 0);
    color:white;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border:0;
    outline: none;
}
#appBg input[type=button], input[type=reset] {
    width: 22%;
    cursor: pointer;
    font-family: 'roboto',sans-serif;
    font-weight: bold;
    font-size: 26;
    color: black;
    padding: 18px;
    margin: 3px;
    border:o;
    border-radius: 100%;

}
#appBg .orange{
    background-color:rgb(253, 149, 3) !important;
    color:white !important
}
#appBg .gray {
    background-color: rgb(51,51,51 ) !important;
    color: white  !important;
}